@use '../abstracts/' as *;


.container {
  --padding: #{$container-min-margin-inline} * 2;
  --max-width: #{$container-max-width-medium};
  
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
 }

/*
class="container" data-variant="narrow"
class="container -narrow"
*/
.container[data-variant="narrow"], 
.container.-narrow{
  --max-width: #{$container-max-width-narrow};
}

.container[data-variant="wide"], 
.container.-wide{
  --max-width: #{$container-max-width-wide};
}

.container[data-variant="full"],
.container.-full{
  --max-width: 100%;
}