@use "../abstracts/" as *;

body{
   background-color: $body-background-color;
   font-family: $body-font-family;
   font-weight: $body-font-weight;
   color: $body-text-color;
   font-size: $body-font-size;
   line-height: $body-line-height;
}

a{
   color: $link-color;
}

a:is(:hover, :focus){
   color: $link-color-hover;
}


h1, h2{
 font-family: $title-font-family;
}