@use "../mm-design-system/utils.functions" as *;
@use "sass:math";

// GLOBAL TOKENS ================================
// private
$-ff-Inter: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$-ff-Epunda: "Epunda", Cambria, Georgia, Times, serif;

// a method with clamp 
// $font-sizes: (
//    800: clamp( torem(28), .5rem + 5.3dvw, torem(60)),
//    600: clamp( torem(16), .5rem + 2.4dvw, torem(27)),//le p sous le titre 2
//    500: clamp( torem(14), .5rem + 1.8dvw, torem(21)),//tire secondaire
//    400: clamp( 16px, .5rem + 1.6dvw, torem(18)),
//    300: torem(16),
// );

// 2nd method : manually
// private
// 14   0.875   14
// 14.8 0.925   14.8
// 16   1       16
// 18   1.125   18
// 21   1.3125  21
// 24   1.5     24
// 28    1.75   28
// 36   2.25    36
// 42   2.625   42
// 48   3       48
// 56   3.5     56
// 60   3.75    60

$font-sizes: (
  "small": (
    "200": torem(14),
    "300": torem(14.8),
    "400": torem(16),
    "500": torem(18),
    "600": torem(18),
    "700": torem(28),
    "800": torem(36),
    "900": torem(40),
  ),
  "large": (
    "200": torem(14),
    "300": torem(14.8),
    "400": torem(16),
    "500": torem(18),
    "600": torem(21),
    "700": torem(28),
    "800": torem(42),
    "900": torem(48),
  ),
);

// private
$-fw-200: 200;
$-fw-300: 300;
$-fw-400: 400;
$-fw-500: 500;
$-fw-600: 600;
$-fw-700: 700;
$-fw-800: 800;



// GENERIC CONTEXTUAL TOKENS ====================

$font-family-base: $-ff-Inter;
$font-family-accent: $-ff-Epunda;

// !! mettre à jour la liste ce ces variables 
// si changement au map $font-sizes
$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);


$font-weight-extra-light: $-fw-200;
$font-weight-light: $-fw-300;
$font-weight-regular: $-fw-400;
$font-weight-medium: $-fw-500;
$font-weight-semi-bold: $-fw-600;
$font-weight-bold: $-fw-700;
$font-weight-extra-bold: $-fw-800;

$letter-spacing-wide: .02em;